body{
  margin: 10px;
  background-color: rgb(61, 69, 77);
  color: rgb(243, 243, 233);
}

fieldset{
  background: linear-gradient(rgb(6, 175, 34),rgb(146, 61, 139));
  border: 2px solid rgb(7, 7, 7);
  width: 90%;
  padding: 2%;
  border-radius: 30px;
}

.input-dados{
  height: 40px;
}

h1{
  margin: 20px;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input{
  height: 50px;
}

label{
  font-size: 22px;
  margin-top: 20px;
}

#resetador{
  margin-right: 30px;
  height: 50px;
  width: 130px;
}

#enviador{
  height: 50px;
  width: 100px;
}

.invalid-tooltip{
  width: 80%;
  margin: 2px 15px;
}


@media (max-width: 991px) {
  fieldset{
    width: 100%;
  }
  #resetador{
    margin-right: 15px;
  }
}
